<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Music Collection</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<RadzenStack AlignItems="AlignItems.Stretch">
    <RadzenPanelMenu>
        <RadzenPanelMenuItem Text="Artists" Path="artists" Icon="account_circle"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Albums" Path="albums" Icon="account_circle"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Genres" Path="genres" Icon="account_circle"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Keys" Path="keys" Icon="account_circle"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Labels" Path="lables" Icon="account_circle"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tracks" Path="tracks" Icon="account_circle"></RadzenPanelMenuItem>
    </RadzenPanelMenu>
</RadzenStack>