@page "/artists"
@attribute [StreamRendering]
@rendermode InteractiveServer
@using Samples.MusicCollection.Web.Artists;

<PageTitle>Artists</PageTitle>

<h1>Artists</h1>

<RadzenDataGrid Data="@ArtistResponses" AllowSorting="true" AllowFiltering="true" AllowPaging="true" PageSize="10" PagerHorizontalAlign="HorizontalAlign.Center" ColumnWidth="200px">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(Artist.ArtistId)" Filterable="false" Title="ID" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn Property="@nameof(Artist.Name)" Title="Name" Width="300px" />
    </Columns>
</RadzenDataGrid>